*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/AndroidProjectSystem.xml
/.idea/deviceManager.xml
/.idea/markdown.xml
.DS_Store
.claude/
/build
/app/build
/app/release
/captures
.externalNativeBuild
.cxx
local.properties
